{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Home{% endblock title %} - Puzzlee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An Art Puzzle Game">
    <meta name="author" content="Gabriel Getzie">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Vendor dependencies bundled as one file-->
      <script defer src="{% static 'js/vendors.min.js' %}"></script>

      <!-- place project specific Javascript in this file -->
      {% if debug %}
        <script defer src="{% static 'js/project.js' %}"></script>
      {% else %}
        <script defer src="{% static 'js/project.min.js' %}"></script>
      {% endif %}

    {% endblock javascript %}

  </head>

  <body>
    {% if request.user.is_authenticated %}
    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Puzzlee</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex justify-content-between w-100">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">
                  Home <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              {% if request.user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'game:artwork_list' %}">Artworks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'game:artist_list' %}">Artists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'collect:listpage_list' %}">Collect</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
              </li>
              {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{{ request.user.username }}</a>
                </li>
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                </li>
            </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    {% endif %}

    <div class="container">
      <main class="{% if request.user.is_authenticated %}authenticated{% else %}anon{% endif %}">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      
      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
      </main>
    </div> <!-- /container -->
    <footer class="bg-light">
        <div class="container text-center text-muted">
          <a href="{% url 'account_login' %}">©️</a> 2023 <a href="https://kotsf.com">Kotsf Limited</a>
          with <a href="https://msteinberg.art">Monica Steinberg</a>
        </div>
      </footer>

    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
