@import "custom_bootstrap_vars";
@import "bootstrap";

.skinny {
  max-width: 640px;
}
// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

.center-narrow {
  max-width: 600px;
  margin: auto;
}

footer {
  height: 40px;
  line-height: 40px;
  font-size: 0.8em;
}

footer a {
  color: #9f9f9f;
  text-decoration: none;
}

footer a:hover {
  color: #1200aa;
  text-decoration: underline;
}

main {
  min-height: calc(100vh - 96px);
}

.number-input {
  width: 6em;
}
