@import "custom_bootstrap_vars";
@import "bootstrap";

// project specific CSS goes here

////////////////////////////////
//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

.alert {
  width: fit-content;
  margin: 0 auto;
}

.center-narrow {
  max-width: 40em;
  margin: auto;
}

footer {
  height: 40px;
  line-height: 40px;
  font-size: 0.8em;
}

footer a {
  color: #9f9f9f;
}

footer a:hover {
  color: #1200aa;
  text-decoration: underline;
}

main.anon {
  min-height: calc(100vh - 40px);
}

main.authenticated {
  min-height: calc(100vh - 100px);
}

.number-input {
  width: 6em;
}

a {
  text-decoration: none;
}

/* autocomplete styles */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  // display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  margin-bottom: 10%;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* End autocomplete */

.is_candidate {
  background-color: #1e90ff44;
}

datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type=range] {
  appearance: none;
  background-color: #fff;
}

div.card-image-container {
  width: 100%;
  background-color: #989898aa;
  padding: 5px 0;
}

img.card-image {
  max-width: 310px;
  max-height: 225px;
}

img.card-image:hover {
  cursor: zoom-in;
}

img#enlargedImage {
  max-width: 1090px;
}

img#id_approval_image {
  max-width: 800px;
}

#painting-container {
  position: relative;
}

#painting {
  width: 100%;
  height: 100%;
}

#grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
}

.grid-portrait {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.grid-landscape {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.grid-square {
  background-color: rgba(55, 55, 55, 1);
  border: rgba(255, 255, 255, 1) 1px solid;
  cursor: pointer;
}

.grid-square:hover {
  background-color: rgba(155, 155, 155, 1);
}

.failed-guess {
  text-decoration: line-through;
}

#guess-list {
  max-width: fit-content;
}

#messages {
  max-width: fit-content;
}