{% extends "base.html" %}

{% block title %}
{{ object.title }}
{% endblock title %}

{% block content %}
<div class="center-narrow">
  <h1>{{ object.fullname }}</h1>
  <p>Slug: {{ object.name_slug}}</p>
  <h2>Artworks</h2>
  <ul class="list-group">
  {% for artwork in object.artwork_set.all %}
  <li class="list-group-item">
  <img src="{{ artwork.artworkimage.get_thumb }}" alt="{{ artwork.title }}" class="img-thumbnail me-3">
    <a href="{{ artwork.get_absolute_url }}">{{ artwork.title }}</a>
  </li>
  {% empty %}
  <li class="list-group-item">
    No artworks by this artist yet.
  </li>
  {% endfor %}
  </ul>
</div>

{% endblock content %}