{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h1>Review detail pages for {{ institution }}</h1>
<nav class="nav nav-pills mt-3 mb-3">
  {% for c in approved_choices %}
  <a 
    class="nav-link{% if c|first == approval_status %} active{% endif %}"
    href="{% url 'collect:detail_filtered' institution c|first %}"
    >
    {{ c|last }}
  </a>
  {% endfor %}
</nav>
{% csrf_token %}

<div class="row mb-2">
  {% for detailpage in object_list %}
  <div class="col-md-4" id="dp_col_{{ detailpage.id }}">
    <div class="card p-2">
      <div class="card-image-container text-center mb-2">
        <a onClick="showEnlarged(`{{ detailpage.title }}`, '{{ detailpage.artworkimage.get1200 }}');">
          <img src="{{ detailpage.artworkimage.get320 }}" class="card-image" loading="lazy" />
        </a>
      </div>
      <h5 class="card-title">
        <a href="{{ detailpage.url }}" title="{{ detailpage.title}}">
          {{ detailpage.title }}
          </a>
      </h5>
      <p class="m-0">{{ detailpage.artist_name|default:"Unknown Artist" }}</p>
      <p class="m-0">{{ detailpage.year }}</p>
      
      <div class="row p-2">
        <div class="col text-center">
          {% if approval_status != 0 %}
          <a class="btn btn-secondary" 
             onClick="setStatus({{ detailpage.id }}, APPROVAL_OPTIONS.rejected);">
             Reject
          </a>
          {% endif %}
        </div>
        <div class="col text-center">
          {% if approval_status != 1 %}
          <a class="btn btn-secondary"
             onClick="setStatus({{ detailpage.id }}, APPROVAL_OPTIONS.unset);">Unset</a>
          </a>
          {% endif %}
        </div>
        <div class="col text-center">
          {% if approval_status != 2 %}
          <a class="btn btn-success" 
             onClick="showApprovalForm({{ detailpage.id}}, '{{ detailpage.title }}', '{{ detailpage.artist_name|default:'Unknown Artst' }}', '{{ detailpage.artworkimage.get768 }}');">
             Approve
          </a>
          {% endif %}
        </div>
        
      </div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:"3" %}</div><div class="row mb-2">{% endif %}
  {% empty %}
  <p>
    No detail pages in this section
  </p>
  {% endfor %}
</div>

{% include "pagination.html" %}
{% endblock content %}

{% block modal %}
<div class="modal" tabindex="-1" id="enlargedModal" aria-labelledby="enlargedModalTitle">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header text-bg-light">
        <h1 class="modal-title fs-5" id="enlargedModalTitle">The Big Picture</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center bg-light d-flex flex-column justify-content-center align-items-center">
        <img src="" id="enlargedImage" loading="lazy" />
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="approvalModal" aria-LabelledBy="approvalModalTitle">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header text-bg-light">
        <h1 class="modal-title fs-5" id="approvalModalTitle">Approve Artwork</h1>
        <button id="approval_modal_close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body text-center bg-light d-flex flex-column justify-content-center align-items-center">
          <img src="" loading="lazy" id="id_approval_image" />
        </div>
        <div class="approve_form_container">
          <div id="approval_form_errors"></div>
          {% crispy approve_form %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock modal %}



{% block inline_javascript %}
<script>
  const SET_STATUS_ENDPOINT="{% url 'collect:set_status' %}";
  const APPROVAL_ENDPOINT="{% url 'collect:approve' %}";
</script>
{% endblock inline_javascript %}