{% extends "base.html" %}

{% block content %}
<h1>Filtered detail pages for {{ institution }}</h1>


<table class="table">
  <thead class="position-sticky top-0 bg-black text-white">
    <tr>
      <th scope="col" class="text-center">Review</th>
      <th scope="col">Title</th>
      <th scope="col">Attribution</th>
    </tr>
  </thead>
  <tbody>
    {% for detailpage in object_list %}
    <tr id="dp_row_{{ detailpage.pk }}">  
      <td class="text-center slider">
        <input type="range" min="0" max="2" value="{{ detailpage.approved }}" id="dp_slider_{{ detailpage.pk }}" list="accept-reject_{{ detailpage.pk }}" />
        <datalist id="accept-reject_{{ detailpage.pk }}">
          <option value="0" label="Reject"></option>
          <option value="1"></option>
          <option value="2" label="Approve"></option>
        </datalist>
      </td>
      <td>
        <a href="{{ detailpage.url }}">
          {{ detailpage.title }}
        </a>
      </td>
      <td>
        {{ detailpage.attribution }}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td></td><td></td><td>No detail pages here</td><td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "pagination.html" %}
{% endblock content %}